main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63vh;
    background-image: url(../images/client-story.jpg);
    background-size: cover;
    background-position: center;
}