:root{
    --primary-color: #19283f;
}
.footer{
    background-color: var(--primary-color);
    color: white;
}
.footer .facebook{
    background-color: #1877f2;
}
.footer .twitter{
    background-color: #1da1f2;
}
.footer .linkedin{
    background-color: #0a66c2;
}
.footer .youtube{
    background-color: #ff0000;
}
.footer .links{
    text-decoration: none !important;
}
.footer .links a{
    line-height: 2rem;
}