:root{
    --primary-color: #19283f;
}
::-webkit-scrollbar{
    width: 10px;/*width of scroolbar*/
}
/* thumb is moving part */
::-webkit-scrollbar-thumb{
    background-color: #3498db;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #2980b9;
    cursor: pointer;
}
/* Scrollbar background */
::-webkit-scrollbar-track{
    background-color: var(--primary-color);
}
:root{
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --green-color: #33d1cc;
}
.main-btn-red{
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}
.navbar{
    background-color: var(--primary-color) !important;
}
.header .nav-links{
    color: white !important;
}
.header .nav-links:hover{
    color: var(--red-color) !important;
}
.header .nav-links.active{
    color: var(--red-color) !important;
}
.navbar .search{
    border-left: 1px solid var(--green-color);
    padding: 10px;
}
.navbar .search svg{
    color: var(--green-color);
}
.header .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
}
main{
    text-align: center;
}
.text-brand {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.color-b{
    color: #3498db;
}
.color-a{
    color: white;
}