:root{
    --primary-color: #19283f;
}
.navbar{
    background-color: var(--primary-color) !important;
}
.header .nav-links{
    color: white !important;
}
.header .nav-links:hover{
    color: #E74C3C !important;
}
.header .nav-links.active{
    color: #E74C3C !important;
}
.header .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
}