/* Loader full screen */
#loader {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Hide loader when done */
#loader.hidden {
    opacity: 0;
    visibility: hidden;
}